
  .movie-card .inner-card-controls {
    background: var(--secondary);
    border-radius: 5px;
    display: inline;
    left: 50%;
    opacity: 0;
    padding: 3px;
    position: absolute;
    top: 10px;
    transform: translateX(-50%);
    transition: all 0.3s ease;
    z-index: 1;
  }
  
  .movie-card:hover .inner-card-controls {
    opacity: 70%;
  }
  
  .ctrl-btn {
    background-color: transparent;
    border: none;
    color: rgb(201, 201, 201);
    font-size: 1rem;
    margin: 0;
    padding: 5px;
    transition: all 0.3s ease;
  }
  
  .ctrl-btn:hover {
    color: white;
    cursor: pointer;
    font-size: 1.60rem;
    opacity: 100%;
  }
  
