@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;800&display=swap');

:root {
  --primary: #22254b;
  --secondary: #373b69;
 
}

body {
  background-color: var(--primary);
  color: white;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.btn {
  background-color: var(--secondary);
  border-radius: 3px;
  border: none;
  color: white;
  display: inline-block;
  font-size: 0.9rem;
  font-weight: 600;
  letter-spacing: 0.03rem;
  padding: 8px 13px;
  text-transform: uppercase;
  transition: all 0.3s ease;
  font-family: inherit;
}

.btn:hover {
  background-color: white;
  color: var(--secondary);
  cursor: pointer;
  opacity: 1;   
 }

.btn:disabled {
  opacity: 0.5;
  pointer-events: none;
}

input:focus {
  outline: none;
}
